@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Material+Icons+Outlined");

body {
  font-family: "Montserrat", "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 15px;
  letter-spacing: 0.05em;
  color: #fff;
}

.wrapper {
  width: 100%;
  padding-top: 73px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

/* sakura */

.sakura {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sakura h1 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 5rem;
  color: #fff;
}

.sakura li {
  position: absolute;
  list-style: none;
  top: -50px;
  top: -30px;

  background: #ffdbed;
  background: #d690b37d;
  border-radius: 0% 70%;
  animation: fall 4s linear infinite, sway 2s ease-in-out infinite alternate;
}

@keyframes fall {
  to {
    top: 120%;
  }
}

@keyframes sway1 {
  from {
    transform: translateX(0px) rotate(0deg);
  }

  to {
    transform: translateX(200px) rotate(-45deg);
  }
}

@keyframes sway2 {
  from {
    transform: translateX(200px) rotate(-45deg);
  }

  to {
    transform: translateX(0px) rotate(0deg);
  }
}

.sakura li:nth-child(1) {
  left: 0%;
  width: 24px;
  height: 15px;
  animation: fall 10s linear infinite, sway1 3s ease-in-out infinite alternate;
  animation-delay: 2s;
}

.sakura li:nth-child(2) {
  left: 5%;
  width: 13px;
  height: 9px;
  animation: fall 15s linear infinite, sway1 2s ease-in-out infinite alternate;
  animation-delay: 8s;
}

.sakura li:nth-child(3) {
  left: 15%;
  width: 16px;
  height: 10px;
  animation: fall 9s linear infinite, sway1 3.5s ease-in-out infinite alternate;
  animation-delay: 13s;
}

.sakura li:nth-child(4) {
  left: 30%;
  width: 16px;
  height: 10px;
  animation: fall 8s linear infinite, sway2 4s ease-in-out infinite alternate;
  animation-delay: 7s;
}

.sakura li:nth-child(5) {
  left: 40%;
  width: 16px;
  height: 10px;
  animation: fall 10s linear infinite, sway1 4s ease-in-out infinite alternate;
  animation-delay: 0s;
}

.sakura li:nth-child(6) {
  left: 55%;
  width: 24px;
  height: 15px;
  animation: fall 11s linear infinite, sway2 3s ease-in-out infinite alternate;
  animation-delay: 3s;
}

.sakura li:nth-child(7) {
  left: 65%;
  width: 16px;
  height: 10px;
  animation: fall 7s linear infinite, sway2 3.5s ease-in-out infinite alternate;
  animation-delay: 7s;
}

.sakura li:nth-child(8) {
  left: 50%;
  width: 13px;
  height: 9px;
  animation: fall 7s linear infinite, sway1 3s ease-in-out infinite alternate;
  animation-delay: 3s;
}

.sakura li:nth-child(9) {
  left: 80%;
  width: 16px;
  height: 10px;
  animation: fall 10s linear infinite, sway2 4s ease-in-out infinite alternate;
  animation-delay: 4s;
}


/* header */

.header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: #000;
  box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.6);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  margin-right: 20px;
  letter-spacing: 0.05em;
}

.header-logo a {
  color: #fff;
}

.gnav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.gnav-item:not(:last-child) {
  margin-right: 20px;
}

.gnav-item a {
  position: relative;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 0;
  transition: 0.3s;
  letter-spacing: 0.05em;
  color: #fff;

}

.gnav-item a:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: "";
  transition: 0.3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #000;
}

.gnav-item a:hover:after {
  width: 100%;
}

.red-o {
  color: red;
}

a {
  transition: opacity 0.3s;
  text-decoration: none;
  color: #000;
}

.gnav-item a {
  color: #fff;
}

/* font awsome */
a[href^="http"]:after,
a[href^="//"]:after {
  margin: 0 0 0 3px;
  font-family: "Font Awesome 5 Free";
  content: '\f35d';
  font-weight: 900;
}

/* mv */
.mv {
  width: 100%;
  position: relative;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  text-align: center;
}

.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  opacity: 0.6;
  pointer-events: none;
}

.mv-title {
  color: #000;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 10px;
  letter-spacing: 0.2em;
}

.mv-subtitle {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.4em;
}

.mv-text {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.8;
}

/* section */
.section {
  width: 100%;
  padding: 15% 5%;
}

.section:nth-of-type(odd) {
  background-color: #371d51;
}

.section:nth-of-type(even) {
  background-color: #16380e;
}

.title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #fff;
}

/* about */
.profile {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.profile-img {
  width: 20%;
  margin-right: 30px;
  border-radius: 50%;
}

.profile-img img {
  border-radius: 50%;
}

.profile-body {
  flex: 1;
}

.profile-body p {
  font-size: 15px;
  line-height: 1.8;
}

.profile-body p:not(:last-child) {
  margin-bottom: 30px;
}


/* work */
.work-item {
  color: #fff;
  text-align: center;
  margin-bottom: 10%;
}

.work-img img {
  width: 70%;
}

.work-name {
  font-size: 22px;
  font-weight: bold;
}

.work-info {
  font-size: 16px;
  margin: 10px auto 10px;
  font-style: italic;
}

.work-detail {
  width: 80%;
  margin: 50px auto 0;
  text-align: left;
  color: #000;

}

.detail-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: solid;
  border-width: 1px;
  color: #000;

}

.detail-description {
  font-size: 14px;
  margin-bottom: 30px;
  color: #000;

}

.skill-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}

.skill-img {
  width: 16px;
  margin-right: 20px;
}

.skill-body {
  flex: 1;
}

.skill-name {
  margin-bottom: 10px;
}

.skill-text {
  font-size: 14px;
  line-height: 1.8;
}

/* contact */
#contact {
  text-align: center;
}

.contact a {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

.contact a .linkedin{
margin-bottom: 10px;
}
/* To-page-top */
.page-top {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: pink;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
  color: #fff;
  color: #000;
}

/* footer */
.footer {
  position: relative;
  z-index: 2;
  padding: 20px;
  background-color: #000;
}

.copyright {
  font-size: 14px;
  text-align: center;
  color: #fff;
}

/* page-top */
#page-top a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #777;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.6rem;
  transition: all 0.3s;
  opacity: 0.6;

}

#page-top a:hover {
  background: #777;
}

#page-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  opacity: 0;
  transform: translateY(100px);
}

#page-top.UpMove {
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#page-top.DownMove {
  animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 1;
    transform: translateY(100px);
  }
}

/* #footer {
  position: relative;
  z-index: 2;
} */

/* 
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .lead {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  .wrapper {
    padding-top: 57px;
  }

  .header .container {
    padding: 15px;
  }

  .header-logo {
    font-size: 15px;
    margin-right: 15px;
  }

  .gnav-item:not(:last-child) {
    margin-right: 10px;
  }

  .gnav-item a {
    font-size: 10px;
  }

  .gnav-item a:after {
    display: none;
  }

  .mv {
    height: 75vh;
  }

  .mv-title {
    font-size: 30px;
  }

  .mv-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .mv-text {
    font-size: 14px;
    line-height: 1.7;
  }

  .work-item {
    width: 90%;
    color: #000;
    text-align: center;
  }

  .work-role {
    margin-bottom: 60px;
  }

  .skill-list {
    display: block;
    margin-bottom: 0;
  }

  .skill-item {
    width: 100%;
    margin-bottom: 35px;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  .skill-name {
    margin-bottom: 5px;
  }

  .skill-text {
    font-size: 13px;
    line-height: 1.7;
  }

  .profile {
    display: block;
  }

  .profile-img {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .profile-body p {
    font-size: 14px;
    line-height: 1.7;
  }

  .profile-body p:not(:last-child) {
    margin-bottom: 20px;
  }
} */
/* 
@media screen and (max-width: 360px) {
  .home {
    display: block;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 1px;
    font-size: 80%;
    text-decoration: none;
    position: relative;
  }

  .gnav-item a {
    position: relative;
    font-size: 9px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 0;
    transition: 0.3s;
    letter-spacing: 0.05em;
    color: #000;
  }

} */

/* modal */

.modal__wrap input {
  display: none;
}

.modal__open-label1,
.modal__open-label2,
.modal__open-label3,
.modal__open-label4,
.modal__close-label1,
.modal__close-label2,
.modal__close-label3,
.modal__close-label4 {
  cursor: pointer;
}

.modal__open-label1,
.modal__open-label2,
.modal__open-label3,
.modal__open-label4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin: 0 auto;
  padding: .8em 2em;
  border: none;
  border-radius: 50px;
  background-color: #a0a0a0;
  color: #fff;
  font-weight: 400;
  font-size: 1em;
}

.modal__open-label1:hover,
.modal__open-label2:hover,
.modal__open-label3:hover,
.modal__open-label4:hover {
  background-color: #fff;
  color: #c9c9c9;
  outline: 1px solid #c9c9c9;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
}

.modal__open-input:checked+label+input+.modal {
  display: block;
  animation: modal-animation .6s;
}

.modal__content-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background-color: #fefefe;
  z-index: 2;
  border-radius: 5px;
}

.modal__close-label1,
.modal__close-label2,
.modal__close-label3,
.modal__close-label4 {
  background-color: #777;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  width: 36px;
  height: 36px;
  line-height: 1.6;
  text-align: center;
  display: table-cell;
  position: fixed;
  top: -15px;
  right: -2%;
  z-index: 99999;
  font-size: 1.3em;
}

.modal__content {
  max-height: 80vh;
  overflow-y: auto;
  padding: 40px;
}

.modal__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .85);
  z-index: 1;
}

@keyframes modal-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 520px) {
  .modal__open-label {
    max-width: 90%;
    padding: .94em 2.1em .94em 2.6em;
  }

  .modal__close-label1,
  .modal__close-label2 {
    top: -17px;
    right: -4%;
  }

  .modal__content-wrap {
    width: 90vw;
  }

  .modal__content {
    padding: 33px 21px 35px;
    max-width: 100%;
  }
}

/* ios low power mode */
body.low-power-mode {

  .test,
  .test2,
  .test3,
  .test4 {
    &::after {
      color: black;
      font-size: 26px;
      font-weight: bold;
      line-height: 2;
      line-break: normal;
    }
  }

  .test::after {
    content: "Hello!";
  }

  .test2::after {
    content: "Your phone's low power mode is on.";
  }

  .test3::after {
    content: "For the best UI/UX experience, please deactivate low power mode on your IOS and reload your screen.";
  }

  .test4::after {
    content: "Thank you!";
  }

  .test-box {
    background: rgb(255, 255, 102);
    padding: 5px;
  }
}